<div id="container">
	#if ($word)
	  <h1>$word.getDefinitionsFromWordClass()</h1>
	#else
	  <h1> Definition not found </h1>
	#end

	<a href="/definitions/new">Add another Definition</a>
	<hr>
	<a href="/definitions">All Definitions</a>
</div>