<div id="container">
	<h1>Dictionary</h1>
	<hr>
	<ul>
	  #foreach ($word in $words)
	    <li><a href="/words/$word.getId()">$word.getWord()</a></li>
	  #end
	</ul>
	<hr>
	<a href="/words/new">Add a New Word</a>
<div id="container">
